body{
    background-color: white;
}

h4{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    
    font-size: 30px;

}

nav ul{
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    font-weight: bold;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 100px) ;    
    cursor: pointer;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 60px ;
    position: absolute;
    width: 100%;
    box-sizing: border-box;
    top: 0;
    left: 0;
}
.btn-1 a{
    color: white;
    text-decoration: none;
    background-color: 
    #35408F;
    font-family: Arial, Helvetica, sans-serif;
    padding:12px 24px  ;
    border-radius: 36px;
    position: relative;

}

main h2{
 font-family: Arial, Helvetica, sans-serif;
 font-size: 40px;
 display: grid;
}
.macbook{
    color: #35408f;
    
}
main{
    position: absolute;
    top: 200px;
    left: 60px;
}
main p{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700px;

}

.button-2 a{
    color:white;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: 12px 24px;
    border-radius: 36px;
    background-color: #35408F;
}
.button-2{
    display: flex;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
#img-macbook{
    width:500px;
    height: 500px;
 
}
.container{
display: grid;
justify-content: end;
margin-top:180px ;
}
.img-2 img{
    width: 500px;

}
#page-2 img{
    margin: auto;
    display: grid;
    justify-content: space-between;
    
}
#page-2{
    margin-top: 100px;
    padding: 15px 120px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    display: grid;
    gap: 20px;
    grid-template-columns: 20fr 1fr;
}
.info-1{
    border-left: 10px solid rgb(0, 140, 255);
}
.info-2{
    border-right: 10px solid orange;

}
.info-3{
    border-left: 10px solid purple;

}
.info-4{
    border-right: 10px solid orangered;
}
footer{
    margin-top: 100px;
    
    background-color: black;
    clip-path: polygon(0 0, 300% 15%, 100% 100%, 0% 100%);
    
}
.img-3{
    display: grid;
    justify-content: center;
    padding: 100px 0px;

}
.img-3 img{
    width: 700px;
    
}
.m1-pro-text{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: 15px 60px;
    
}
span{
    border-top: 10px solid white;
    padding: 50px 0px;
}
.page-3-text-1{
    color: #EED9D9;
    font-weight: 500;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;

}
.btn-3 a{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-decoration: none;
    background-color: #35408F;
    padding: 12px 24px;
    border-radius: 36px;

}
.btn-3{
    padding: 15px 60px;

}
.img-4{
    display: grid;
    justify-content: center;
    
}
.img-4 img{
    width: 700px;
}
.m1-max-text{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: 15px 60px;
    text-align: end;
}
.page-3-text-2{
    color: #EED9D9;
    font-weight: 500;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;

}
.btn-4 a{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-decoration: none;
    background-color: #35408F;
    padding: 12px 24px;
    border-radius: 36px;
}
.btn-4{
    display: grid;
    justify-content: end;
    padding: 15px 60px;
}
.img-5{
    background: url(apple1.png);
    background-size: cover;
    width: 800px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 20px;
    margin: auto;
    padding: 15px 60px;
    display: grid;
    justify-content: center;
    gap: 20px;

}
.paragraph{
    text-align: center;
}
.main-text{
    text-align: center;
}
.paragraph-2{
    font-size: 18px;
    text-align: center;
}
.btn-6 a{
    color: black;
    text-decoration: none;
    font-weight: bold;
    background-color: #EED9D9;
    padding: 12px 24px;
    border-radius: 26px;

}
.btn-6{
    margin: auto;
}

.img-6 img{
    width: 250px;
}
.img-6{
    margin: auto;
}
.btn-7 a{
    color: white;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 550;
    background-color: 
    #FF6006;
    padding: 8px 24px;
    border-radius: 10px;
}
.btn-7{
    margin-top: 100px;
    display: grid;
    justify-content: center;
    padding: 15px 60px;

}
.finish-page{
    color: white;
    margin-top: 100px;
    padding: 15px 60px;
    font-family: Arial, Helvetica, sans-serif;
    width: 400px;
    display: grid;
    gap: 20px;
}
.finish-text{
    text-align:center ;
    font-size: 30px;
}
.finish-paragraph{
font-size: 20px;
text-align: center;
}
.finish-btn a{
    color: white ;
    text-decoration: none;
    background-color: #35408F;
    padding: 12px 24px;
    border-radius: 20px;
}
.finish-btn{
    margin: auto;
}
.finish-img img{
    width: 250px;
}
.finish-img{
    margin: auto;
}
aside{
    display: flex;
    justify-content: space-around ;
}